aiofiles
altair
annotated-types
anyio
attrs
blinker
blis
catalogue
certifi
charset-normalizer
click
confection
contourpy
cycler
cymem
exceptiongroup
fastapi
ffmpy
filelock
Flask
Flask-Cors
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib-resources
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
langcodes
MarkupSafe
matcher
matplotlib
murmurhash
numpy
orjson
packaging
pandas
pathy
Pillow
preshed
pydantic
pydantic_core
pydub
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
referencing
regex
requests
# rpds-py
safetensors
semantic-version
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
thinc
tokenizers
toolz
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
wasabi
websockets
Werkzeug
gunicorn
