.glow {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 100%;
  }

 
  
  .glow-1 {
    animation: glow1 4s linear infinite;
  }
  
  .glow-2 {
    animation: glow2 4s linear infinite;
    animation-delay: 100ms;
  }
  
  .glow-3 {
    animation: glow3 4s linear infinite;
    animation-delay: 200ms;
  }
  
  .glow-4 {
    animation: glow4 4s linear infinite;
    animation-delay: 300ms;
  }
  
  @keyframes glow1 {
    0% {
      transform: translate(10%, 10%) scale(1);
    }
    25% {
      transform: translate(-10%, 10%) scale(1);
    }
    50% {
      transform: translate(-10%, -10%) scale(1);
    }
    75% {
      transform: translate(10%, -10%) scale(1);
    }
    100% {
      transform: translate(10%, 10%) scale(1);
    }
  }
  
  @keyframes glow2 {
    0% {
      transform: translate(-10%, -10%) scale(1);
    }
    25% {
      transform: translate(10%, -10%) scale(1);
    }
    50% {
      transform: translate(10%, 10%) scale(1);
    }
    75% {
      transform: translate(-10%, 10%) scale(1);
    }
    100% {
      transform: translate(-10%, -10%) scale(1);
    }
  }
  
  @keyframes glow3 {
    0% {
      transform: translate(-10%, 10%) scale(1);
    }
    25% {
      transform: translate(-10%, -10%) scale(1);
    }
    50% {
      transform: translate(10%, -10%) scale(1);
    }
    75% {
      transform: translate(10%, 10%) scale(1);
    }
    100% {
      transform: translate(-10%, 10%) scale(1);
    }
  }
  
  @keyframes glow4 {
    0% {
      transform: translate(10%, -10%) scale(1);
    }
    25% {
      transform: translate(10%, 10%) scale(1);
    }
    50% {
      transform: translate(-10%, 10%) scale(1);
    }
    75% {
      transform: translate(-10%, -10%) scale(1);
    }
    100% {
      transform: translate(10%, -10%) scale(1);
    }
  }